@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');  

* {  
    box-sizing: border-box;  
    margin: 0;  
    padding: 0;  
}  

body {  
    font-family: 'Poppins', sans-serif;  
    line-height: 1.6;  
    flex-wrap: wrap;  
    margin: 0; /* Suppression de la marge par défaut */  
}  

.container {  
    width: 70%;  
    max-width: 1200px;  
    margin: auto;  
    display: flex;
    justify-content: space-between;
    align-items: center;
}  
.container .vue{
    display: none;
}

header {  
    /* background: #35424a;   */
    background-color: yellowgreen;
    color: #ffffff;  
    border-radius: 6px;  
    height: 70px;  
    text-align: center; /* Aligner le texte au centre */  
}  

header h1 {  
    display: inline-block; /* Changer le float pour un display inline-block */  
}  

header h1:hover {  
    transition: .50s;  
    color: #abb1b4;  
}  

nav ul {  
    list-style: none;  
}  

nav ul li {  
    display: inline;  
    margin-left: 20px;   
}  

nav ul li a {  
    font-size: 25px;  
    color: #ffffff;  
    text-decoration: none;  
    transition: color 0.3s;  
}  

nav ul li a:hover {  
    color: #e8491d;  
}  
.nav_img{
    display: none;
}
.navbar{
    
}
.link{
    display: none;
    flex-direction: column;
    list-style-type: none;
    gap: 5px;
    position: absolute;
    right: 1rem;
    top: 70px;
    background-color: black;
    width: 200px;
    height: 0;
    justify-content: center;
    align-items: center;
    z-index: 10;
}
.link.open{
    display: flex;
    height: 40vh;
    &.navbar{
        transition: 0.8s ease-in-out;
    }
}
.link a{
    color: white;
    font-size: 1.2rem;
    text-decoration: none;
}

#hero { 
    background: url('https://cdn.pixabay.com/photo/2014/08/29/14/53/camera-431119_1280.jpg');
    color: #ffffff;  
    background-size: cover;
    background-position: center;
    text-align: center;  
    padding: 100px 0;  
}  
#hero .container{
    background: linear-gradient(black, red, yellow);
}

#hero h2 {  
    font-size: 2.5em;  
}  

#hero .container p {  
    margin-bottom: 30px;  
    color:rgba(41, 248, 0, 0.938);  
    font-weight: 700;  
}  



#contact .container{
    gap: 20px;
    /* display: flex; */
    text-align: center;
}
#contact .container h3{
    font-size: 30px;
}
#contact .container form{
    background-color: #35424a;
    width: 500px;
    padding: 12px;
    margin: auto;
}
#contact .container form input[type="text"],
#contact .container form input[type="email"],
#contact .container form input[type="submit"],
#contact .container form textarea{
    width: 100%;
    padding: 12px;
    font-family: "Poppins", sans-serif;
    border-radius: 10px 0 10px 0;
}
#contact .img p{
    margin: 0;
}
#contact .img img{
    width: 200px;
    height: 200px;
    object-fit: contain;
}

footer {  
    background: #35424a;  
    color: #ffffff;  
    text-align: center;  
    padding: 20px 0;  
}  

footer ul {  
    list-style: none;  
    padding: 0;  
}  

footer ul li {  
    font-size: 25px;  
    display: inline;  
    margin-left: 10px;  
}  

footer ul li a {  
    color: #f1dfdf;  
    text-decoration: none;  
}  


   

footer ul li a:hover {  
        color: #e8491d;  
    }  
    
footer p {  
        font-family: "Poppins", sans-serif;  
    }  

@media (max-width: 990px){
     header{
        position: fixed;
        z-index: 10;
        width: 100%;
    }

    header .container .vue{
        display: block;
    }
    header .container .com{
        display: none;
    }
    .links{
        display: none;
    }
    .nav_img{
        display: block;
    }
    .container{
        max-width: 100% ;
        width: 100%;
        margin: 0 10px;
    }
    header{
        /* padding: 1.6rem 0; */
    }
}
    /* Styles pour mobile */  
@media (max-width: 600px) {  
    body, html{
        width: 100%;
    }
    header h1 {  
            display: block;  /* Changer le display pour block sur mobile */  
            text-align: center;  
        }  
    
    nav {  
            text-align: center;  
        }   
    
    nav ul li {  
            display: block;  /* Afficher les liens de navigation en bloc */  
            margin: 10px 0; /* Marge verticale pour les liens */  
        }  
    
        body {  
            margin: 10px 0; /* Réduire les marges du body sur mobile */  
        }   
    
        #hero h2 {  
            font-size: 1.8em; /* Réduire la taille de la police du titre pour mobile */  
        }  
        
        .btn {  
            padding: 10px 15px; /* Augmenter la taille des boutons sur mobile */  
        }  
    
        .service-item, .team-member {  
            padding: 15px; /* Réduire le padding des cartes sur mobile */  
        }  
    
        footer ul li {  
            font-size: 20px; /* Réduire la taille de la police du footer sur mobile */  
        }
        #contact .container form{
            width: 100% !important;
        }  
        .team-grid{
            display: flex;
            width: 100%;
            overflow-x: scroll;
            scroll-snap-type: x mandatory;
        }
        .team-member{
            flex-shrink: 0;
            box-sizing: border-box;
            scroll-snap-align: center;
            width: 100%;
        }
    }  
    
    /* Styles pour tablettes */  
    @media (min-width: 601px) and (max-width: 1024px) {  
        nav ul li {  
            margin-left: 15px; /* Ajuster le margin pour les tablettes */  
        }  
    
        #hero h2 {  
            font-size: 2.2em; /* Ajuster la taille de la police du titre sur tablette */  
        }  
    
        .service-item, .team-member {  
            padding: 18px; /* Ajuster le padding pour les articles sur tablette */  
        }  
    
        footer ul li {  
            font-size: 25px; /* Ajuster la taille de la police du footer sur tablette */  
        }  
    }  